{% extends "./template.html" %}

{% block pageTitle %}
<title>Band Levels</title>
{% endblock %}

{% block content %}
<div class="tbanner">
    <img src="/whiteBanner.png" alt="white banner" style="width:100%" height="100px">
    <div class="heading">
        <h1>Job Roles Per Band</h1>
    </div>
</div>



<div class = "roles-per-band">
    <table>
        <tr>
            <th>Band Level</th>
            <th>Roles</th>
        </tr>
        {% for bandLevel in bandLevelsSet %}
            <tr>
                <td>{{ bandLevel }}</td>
                <td>
                    {% for object in bandLevels %}
                        {% if (object.bandLevel == bandLevel) %}
                            <p> {{ object.jobRole }} </p>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <!--   ALTERNATIVE METHOD, NEEDS REMOVING IF NOT USED AND PUSHING
        {% for bandLevel in bandLevelsSet %}
            <h1> {{ bandLevel }} </h1>
            {% for object in bandLevels %}
                {% if (object.bandLevel == bandLevel) %}
                    <p> {{ object.bandLevel }} </p>
                {% endif %}
            {% endfor %}
        {% endfor %}
    -->

</div>

{% endblock %}