{% extends "./template.html" %}

{% block pageTitle %}
<title>Capabilities and Roles</title>
{% endblock %}

{% block content %}

<div class="tbanner">
    <img src="/whiteBanner.png" alt="white banner" style="width:100%" height="100px">
    <div class="heading">
        <h1>Capabilities</h1>
    </div>
</div>

<div class="capabilities">
    <table>
        <tr>
            <th>Capabilities</th>
            <th>Roles</th>
        </tr>
        {% for capability in capabilities %}
            <tr>
                <td>{{capability}}</td>
                <td>
                    {% for object in jobCapability %}
                        {% if (object.capability == capability) %}
                            <p> {{ object.jobRole }} </p>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <!--   ALTERNATIVE METHOD, NEEDS REMOVING IF NOT USED AND PUSHING
        {% for capability in capabilities %}
            <h1> {{capability}} </h1>
            {% for object in jobCapability %}
                {% if (object.capability == capability) %}
                    <p> {{ object.jobRole }} </p>
                {% endif %}
            {% endfor %}
        {% endfor %}
    -->

</div>
{% endblock %}