body {
    font-family: Century Gothic, sans-serif;
 }
.tbanner {
    position: relative;
    display: flex;
}
.inline {
    position: absolute;
    display: inline-block;
    padding: 1%;
    top: 20px;
    font-size: 20px;
    padding-left: 20px;
}
.roles {
    text-align: center;
    margin-bottom: 10px;
}
.roles, .capabilities, .roles-per-band {
    text-align: center;
    margin-bottom: 10px;
}
table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
td, th, tr {
    border: 1px solid #000000;
    padding: 0.3%;
}
.container {
    position: relative;
    display: flex;
    colour: black;
}
.top-left {
    position: absolute;
    top: 10px;
    left: 20px;
}
.align-left {
    width: 75%;
    text-align: left;
    padding: 1%;
    margin: 1%;
    color: black;
}
.align-right {
    width: 15%;
    padding: 1%;
    text-align: left;
    float: right;
    margin: 1%;
    color: #02075d;
    border: 1px solid #000000;
    font-style: italic;
}
.quote {
    font-weight: bold;
    margin-top: 15%;
}
.heading h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
}
