<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Web browser Test Suite" >

    <test name="Chrome tests" >
        <classes>
            <class name="chrome.US001_chrome_test" />
            <class name="chrome.US002_chrome_test" />
            <class name="chrome.US003_chrome_test" />
            <class name="chrome.US004_chrome_test" />
        </classes>
    </test>

    <test name="Edge tests" >
        <classes>
            <class name="edge.US001_edge_test" />
            <class name="edge.US002_edge_test" />
            <class name="edge.US003_edge_test" />
            <class name="edge.US004_edge_test" />
        </classes>
    </test>

    <test name="Firefox tests" >
        <classes>
            <class name="firefox.US001_firefox_test" />
            <class name="firefox.US002_firefox_test" />
            <class name="firefox.US003_firefox_test" />
            <class name="firefox.US004_firefox_test" />
        </classes>
    </test>

</suite>